<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Register</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- Custom fonts for this template-->
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">

<!-- Custom styles for this template-->
<link href="css/sb-admin.css" rel="stylesheet">

</head>

<body class="bg-dark">

	<div class="container">
		<div class="card card-register mx-auto mt-5">
			<div class="card-header">Register an Account</div>

			<div class="row text-center">
				<p th:text="${success}" style="color: green; text-align: center"></p>
				<p th:text="${failure}" style="color: red; text-align: center"></p>
			</div>

			<div class="card-body">
				<form action="#" th:action="@{/signup}" method="post"
					th:object="${user}">
					<!-- <div class="form-row">
              <div class="col-md-6">
                <div class="form-label-group">
                  <input type="text" id="firstName" class="form-control" placeholder="First name" required="required" autofocus="autofocus">
                  <label for="firstName">First name</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-label-group">
                  <input type="text" id="lastName" class="form-control" placeholder="Last name" required="required">
                  <label for="lastName">Last name</label>
                </div>
              </div>
            </div>
          </div> -->
					<div class="form-group">
						<div class="form-label-group">
							<label for="Email">Email</label> <input th:field="*{email}"
								type="text" id="email" name="email" class="form-control"
								placeholder="Email address" required="required">
						</div>
						<div class="form-label-group">
							<label for="Username">Username</label> <input th:field="*{username}"
								type="text" id="username" name="username" class="form-control"
								placeholder="Username" required="required">
						</div>
						<div class="form-label-group">
							<label for="inputPassword">Address</label> <input
								th:field="*{address}" type="text" id="inputAddress"
								name="address" class="form-control"
								placeholder="Delivery Address" required="required">
						</div>
						<div class="form-row">
							<div class="col-md-6">
								<div class="form-label-group">
									<label for="inputPassword">Password</label> <input
										th:field="*{password}" type="password" id="inputPassword"
										name="password" class="form-control" placeholder="Password"
										required="required">
								</div>
								<div class="form-label-group">
									<label for="inputPassword">First Name</label> <input
										th:field="*{firstName}" type="text" id="inputFirstname"
										name="firstName" class="form-control" placeholder="First Name"
										required="required">
								</div>
								<div class="form-label-group">
									<label for="inputPassword">Last Name</label> <input
										th:field="*{lastName}" type="text" id="inputLastname"
										name="lastname" class="form-control" placeholder="Last Name">
								</div>
							</div>
						</div>
					</div>
					<button type="submit" class="btn btn-primary btn-block"
						name="register">Register</button>
				</form>
				<div class="text-center">
					<a class="d-block small mt-3" href="login.html">Login Page</a> <a
						class="d-block small" href="forgot-password.html">Forgot
						Password?</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript-->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

</body>

</html>
